body {
  box-sizing: border-box;
  margin: auto;
  background-color: black;
}
h1 {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}
h4 {
  text-decoration: none;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}
h4 a {
  color: aquamarine;
  font-size: 16px;
}
#controls {
  display: block;
  margin: auto;
}
#img1 {
  display: block;
  margin: auto;
}
#img2 {
  vertical-align: middle;
  display: block;
  padding-top: 0px;
  margin-left: 800px;
  margin-top: 80px;
}
